<jce-post-form (postAddedEvent) = "addPost($event)" ></jce-post-form>
<jce-spinner [visible]='isLoading'></jce-spinner>
<div>
  <ul class="list-group users">
        <li *ngFor = "let post of posts" class="list-group-item" >
            <app-post 
            [post] = "post"
            (deleteEvent) = "deletePost($event)"
            (updateEvent) = "updatePost($event)">
            </app-post>
            <ul>
              <li *ngFor = "let userOfPost of post.userName">
                {{(userOfPost | async)?.name}}
              </li>
            </ul>       
        </li>
  </ul>
</div>