<h1>
  {{title}}
</h1>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Home</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a routerLink="/users" routerLinkActive="active">Users</a></li>
      <li><a routerLink="/posts" routerLinkActive="active">Posts</a></li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>