<button (click) = "toggleEdit()" type="button" class="btn btn-default pull-right">{{editButtonText}}</button>
<button *ngIf = "isEdit" (click)="cancelEdit()" type="button" class="btn btn-default pull-right">Cancel</button>
<button  (click) = "sendDelete()" type="button" class="btn btn-danger pull-right">Delete</button>

<span *ngIf = "!isEdit">author: {{post.author}} <br>title: {{post.title}} <br>content: {{post.body}}  </span>

<span *ngIf = "isEdit">
    Title: <input type="text" [(ngModel)]="post.title" >
    Author: <input type="text" [(ngModel)]="post.author" >
    Content: <input type="text" [(ngModel)]="post.body">
</span>




